<!DOCTYPE html>
<html>
<head>
  <title>Error Menu</title>
</head>
<body>
  <h1>Error page</h1>
 
  <p>Message - <strong><%= message %></strong></p>
  <ul>
    <li><a href="/">login</a></li>
    
  </ul>
</body>
</html>
