<!DOCTYPE html>
<html>
<head>
  <title>Home Menu</title>
</head>
<body>
  <h1>Welcome to our home page</h1>
  <p>Here, you can learn more about our company and the services we offer.</p>
  <p>Current Date Time From Middleware - <strong><%= requestDate %></strong></p>
  <p>Message - <strong><%= message %></strong></p>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/registration">Registration</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/form">Form</a></li>
    <li><a href="/marks">Marks</a></li>
  </ul>
</body>
</html>
