<!DOCTYPE html>
<html>
<head>
  <title>Services Menu</title>
</head>
<body>
  <h1>Welcome to our services page</h1>
  <p>Here, you can learn more about our company and the services we offer.</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/registration">Registration</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</body>
</html>
